<html>
  <head>
    <title>My Angular App!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <script src="/javascripts/Angularapp.js"></script>
  </head>
  <body ng-app="reddit">
      <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
        <ul class="nav navbar-nav">
          <li><a href="/#/subthreads">Subthreads</a></li>
          <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
          <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Log Out</a><li>
          <li ng-hide="isLoggedIn()"><a href='/#/login'>Log In</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
          <li><a href="/#/home">Home</a></li>
        </ul>
      </nav>
      <div class="row">
        <!-- alter later for other devices -->
        <div class="col-md-6 col-md-offset-3">
          <!-- now you make ejs ng templates and store them for public access -->
          <ui-view></ui-view>
        </div>
      </div>
  </body>
</html>
