<div class="page-header">
    <h1 style="text-align:center;">
    Subthreads
    </h1>
</div>
<div ng-repeat= "subthread in subthreads">
  <span ng-click="upvote(post)" class="glyphicon glyphicon-thumbs-up"></span>
  <span ng-click="downvote(post)" class='glyphicon glyphicon-thumbs-down'></span>
  <span> {{subthread.name }} </span>
  <span style="font-size:20px; margin-left:10px;">
    <span>{{ subthread }}</span>
  </span>
</div>

<!-- div elements are block elements aka they take up the full width
and they make a new line. They are not inline elements. -->
<form ng-submit="addSubthread()" ng-show="isLoggedIn()" style="margin-top:30px;">
  <h3>Create new subthread</h3>
  <div class="form-group">
    <input type="text" ng-model="name" placeholder="Subthread Name"></input>
  </div>
  <button type="submit" class="btn btn-danger">Create Subthread</button>
</form>
<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>
